body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f5f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 850px;
    margin: auto;
    padding: 25px;
    background: white;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border-radius: 8px;
}

.header {
    text-align: center;
}

.social-links a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

section {
    margin-top: 30px;
}

h2 {
    color: #0077b6;
    border-bottom: 2px solid #caf0f8;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.exp-item, .projects ul, .certifications ul {
    margin-bottom: 15px;
}

.exp-item span {
    font-size: 0.9em;
    font-style: italic;
    color: #666;
}

ul {
    list-style-type: disc;
    padding-left: 25px;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
    margin-top: 30px;
}
